body{
   width:100%;
   background-image: url("../img/fondo_gastronomia3.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-attachment: fixed;
}﻿

div.callout{
   padding:4%;
}

a{
   text-align:center;
   width:100%;
}

#historial{
   color:#e01d3c;
   padding-left:10%;
   padding-top:4%;
   border:none;
}

#favoritos{
	vertical-align:center;
	horizontal-align:center;
	border:none;
	padding:4%;
}

#contenido{
	padding:2% 6% 4% 6%;
}
